extends layout

block content
    .home-container
        .hero-section
            h2= title
            p.subtitle= message
            .cta-buttons
                a.btn.btn-primary(href="/") Go to Home