extends layout

block content
    .form-container.auth-form
        h2 Login
        form(action="/login", method="POST")
            .form-group
                label(for="username") Username
                input(type="text", id="username", name="username", required)
            .form-group
                label(for="password") Password
                input(type="password", id="password", name="password", required)

            //- FIX: The Cloudflare Turnstile Widget has been removed.

            button.btn-primary(type="submit") Login
        .auth-switch
            p Don't have an account? #[a(href="/register") Register]