extends layout

block content
    .home-container
        .hero-section
            h2 Almost there!
            p.subtitle A verification link has been sent to #[strong #{email}].
            p Please check your inbox and click the link to activate your account.